
<h1>User Activities</h1>

<div class="panel panel-default">

  <div class="panel-heading">Actividades </div>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre Alumno</th>
        <th>Actividad</th>
        <th colspan="3">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @user_activities.each do |user_activity| %>
      <tr>
        <td> <%= user_activity.user.name %></td>
        <td> <%= user_activity.activity.name %></td>
        <td><%= link_to 'Ver', user_user_activity_path(current_user.id,user_activity.id), class: 'btn btn-primary'  %></td>
         <% if can? :edit, user_activity %>
        <td><%= link_to 'Editar', edit_user_user_activity_path(params[:user_id],user_activity.id),class: 'btn btn-primary' %></td>
          <% end %>
        <% if can? :destroy, user_activity %>
        <td><%= link_to 'Destroy', user_user_activity_path(params[:user_id],user_activity.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
        <% end  %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<!-- 
  <%= link_to 'New User Activity', new_user_user_activity_path(params[:user_id],params[:activity_id]) %> -->
