<%= form_for([@subsidiary,ubication]) do |f| %>
  <% if ubication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ubication.errors.count, "error") %> prohibited this ubication from being saved:</h2>

      <ul>
      <% ubication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>

  <div class="field">
    <%= f.label :subsidiary_id %>
    <%= f.text_field :subsidiary_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
