

<h1>Ubications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Subsidiary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ubications.each do |ubication| %>
      <tr>
        <td><%= ubication.name %></td>
        <td><%= ubication.capacity %></td>
        <td><%= ubication.subsidiary.name %></td>
        <td><%= link_to 'Show', subsidiary_ubication_path(subsidiary_id: ubication.subsidiary.id ,id:ubication.id) %></td>
        <td><%= link_to 'Edit', edit_subsidiary_ubication_path(subsidiary_id: ubication.subsidiary.id ,id: ubication.id) %></td>
        <td><%= link_to 'Destroy', subsidiary_ubication_path(subsidiary_id: ubication.subsidiary.id ,id:ubication.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Ubication', new_ubication_path %>
