

<h3>Ubication calendar</h3>
<div class=well>
<div id="calendar"></div>
</div>

<p>
  <strong>Name:</strong>
  <%= @ubication.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @ubication.capacity %>
</p>

<p>
  <strong>Subsidiary:</strong>
  <%= @ubication.subsidiary.name %>
</p>

<%= link_to 'Edit', edit_subsidiary_ubication_path(subsidiary_id: @ubication.subsidiary.id ,ubication_id: @ubication.id) %> |
<%= link_to 'Back', subsidiaries_path %>


<script>
  $('#calendar').fullCalendar({
  	  events: '<%= subsidiary_ubication_reservations_path(params[:subsidiary_id],params[:id],format: :json) %>',
  	  defaultView: 'basicWeek',
  	  header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},

  });
    
</script>