
<div class="page-header">
  <h1>Subsidiaries</h1>
</div>

<div class="row">
  <% @subsidiaries.each do |subsidiary| %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag(subsidiary.photo, class:"img-responsive")  %>

      <div class="caption">
        <h3> Sucursal <%= subsidiary.name %></h3>
        <h4> Direccion: <%= subsidiary.address %></h4>
        <h4> Telefono: <%= subsidiary.phone %></h4>

        <p><%= link_to 'Ver ',subsidiary_path(subsidiary), class: 'btn btn-primary' %>
          <% if can? :edit, Subsidiary%>
          <%= link_to 'Edit', edit_subsidiary_path(subsidiary),class: 'btn btn-primary' %>
          <% end %>
          <% if can? :destroy, Subsidiary%>
          <%= link_to 'Destroy', subsidiary, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-primary' %></p>
          <% end %>
        </div>
      </div>
    </div>
    
 <!--    <tr>
      <td><%= subsidiary.name %></td>
      <td><%= subsidiary.address %></td>
      <td><%= subsidiary.phone %></td>
      <td><%= link_to 'Show', subsidiary %></td>
      <% if can? :edit, Subsidiary %>
      <td><%= link_to 'Edit', edit_subsidiary_path(subsidiary) %></td>
      <% end  %>
      <% if can? :destroy, Subsidiary  %>
      <td><%= link_to 'Destroy', subsidiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end  %>
    </tr> -->
    <% end %>
  </div>
  
</table>

<br>

<!-- <%= link_to 'New Subsidiary', new_subsidiary_path, class: 'btn btn-primary' %> -->
