

<h1>Subsidiaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsidiaries.each do |subsidiary| %>
      <tr>
        <td><%= subsidiary.name %></td>
        <td><%= subsidiary.address %></td>
        <td><%= subsidiary.phone %></td>
        <td><%= link_to 'Show', subsidiary %></td>
        <% if can? :edit, Subsidiary %>
        <td><%= link_to 'Edit', edit_subsidiary_path(subsidiary) %></td>
        <% end  %>
        <% if can? :destroy, Subsidiary  %>
        <td><%= link_to 'Destroy', subsidiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsidiary', new_subsidiary_path %>
