<div class="well">
<div class="page-header"> <h1>Datos Sucursal</h1></div>
<p>
	<strong>Nombre Sucursal:</strong>
	<%= @subsidiary.name %>
</p>

<p>
	<strong>Direccion:</strong>
	<%= @subsidiary.address %>
</p>

<p>
	<strong>Telefono Contacto:</strong>
	<%= @subsidiary.phone %>
</p>

<%= link_to 'Edit', edit_subsidiary_path(@subsidiary),class: 'btn btn-primary' %> |
<%= link_to 'Back', subsidiaries_path,class: 'btn btn-primary	' %>
</div>
<div class="page-header"> <h1>Clases disponibles</h1></div>
<div class="row">
	<% @activities.each do |activity| %>


	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag(activity.photo, class:"img-responsive") if activity.photo? %>
			<div class="caption">
				<h3><%= activity.name %></h3>
				<p><%= activity.description %></p>
				<p>cupos disponibles :<%= activity.capacity %></p>
				<p><%= link_to 'Ver Horarios', activity, class: 'btn btn-primary' %>
					<%= link_to 'Tomar cupo',activity_takeroom_path(activity) , class: 'btn btn-primary' %></p>
					<% if can? :update, activity %>
					<%= link_to 'Editar', edit_activity_path(activity), class: 'btn btn-primary' %>  
					<% end %>
					<% if can? :destroy, activity %>
					<%= link_to 'Eliminar', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	
	

