<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subsidiary.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subsidiary.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subsidiary.phone %>
</p>

<%= link_to 'Edit', edit_subsidiary_path(@subsidiary) %> |
<%= link_to 'Back', subsidiaries_path %>
