

<p>
  <strong>Init date:</strong>
  <%= @reservation.init_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @reservation.end_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @reservation.cost %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.name %>
</p>

<%= link_to 'Edit',  edit_subsidiary_ubication_reservation_path(params[:subsidiary_id],params[:ubication_id],@reservation) %> |
<%= link_to 'Back', subsidiary_ubication_reservations_path %>
