
<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @activity.enabled %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @activity.capacity %>
</p>
<% if can? :update, Activity %>
<%= link_to 'Modificar datos actividad', edit_activity_path(@activity),class: 'btn btn-primary' %> 
<% end %>
<%= link_to 'Volver a actividades', activities_path,class: 'btn btn-primary' %>
